@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Poppins', 'sans-serif';
    --color-primary: #2ACFCF;
    --color-secondary: #EDEABB,
    --color-cyanLight: #9AE3E3;
    --color-darkViolet: #3B3054;
    --color-red: #F46262;
    --color-grayishViolet: #BFBFBF;
    --color-veryDarkBlue: #35323E;
    --color-veryDarkViolet: #232127;

    --animate-slideUp: slideUp 0.3s ease-out;
    --animate-slideDown: slideDown 0.3s ease-out forwards;

    @keyframes slideUp {
        from {
            transform: translateY(20px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    @keyframes slideDown {
        from {
            transform: translateY(0);
            opacity: 1;
        }

        to {
            transform: translateY(20px);
            opacity: 0;
        }
    }
}

@layer base {
    body {
        @apply [scrollbar-color:_#cbd5e1_transparent] dark:[scrollbar-color:_#334155_transparent];
    }

    html {
        scroll-behavior: smooth;
        scroll-padding-top: 100px;
    }
}

@layer components {
    .sidebar-group {
        @apply flex flex-col w-full gap-y-2;
    }

    .sidebar-group-title {
        @apply overflow-hidden text-sm font-medium text-ellipsis text-slate-600 dark:text-slate-400;
    }

    .sidebar-item {
        @apply flex h-[40px] w-full flex-shrink-0 items-center gap-x-3 rounded-lg p-3 text-base font-medium text-[#3B3054] transition-colors hover:bg-blue-50 dark:text-slate-50 dark:hover:bg-[#35323E] cursor-pointer;

        &.active {
            @apply bg-[#2ACFCF] text-slate-50 dark:bg-[#3B3054];
        }
    }

    .title {
        @apply text-3xl font-semibold transition-colors text-slate-900 dark:text-slate-50;
    }

    .btn-ghost {
        @apply flex items-center justify-center flex-shrink-0 h-10 p-2 transition-colors rounded-lg gap-x-2 text-gray-500 hover:bg-[#9AE3E3] cursor-pointer hover:text-slate-50 dark:hover:bg-[#3B3054] dark:hover:text-slate-300;
    }

    .link {
        @apply text-base font-medium transition-colors text-slate-900 hover:underline dark:text-slate-50;
    }

    .input {
        @apply shadow-sm h-[34px] flex-shrink-0 items-center gap-x-2 rounded-lg border duration-200 border-slate-300 px-2 text-base text-slate-900 transition-colors has-[input:focus]:border-primary dark:has-[input:focus]:border-[#3B3054] flex md:w-auto lg:w-80 dark:border-[#35323E] dark:text-slate-50;
    }

    .card {
        @apply flex flex-col p-4 transition-colors bg-white border rounded-lg gap-y-4 border-slate-300 dark:border-slate-700 dark:bg-slate-900;
    }

    .card-header {
        @apply flex items-center gap-x-2;
    }

    .card-title {
        @apply font-medium transition-colors text-slate-900 dark:text-slate-50;
    }

    .card-body {
        @apply flex flex-col p-4 rounded-lg gap-y-2;
    }

    .table {
        @apply h-full w-full text-slate-900 border-slate-300 dark:bg-[#232127]
    }

    .table-header {
        @apply sticky top-0 bg-[#3B3054] border-b border-slate-200 dark:border-[#35323E] transition-[background] z-40 whitespace-nowrap dark:bg-[#232127] dark:text-slate-50
    }

    .table-row {
        @apply transition-colors dark:bg-[#232127] dark:text-slate-50 border-b bg-white border-[#BFBFBF] last:border-none dark:border-slate-700
    }

    .table-head {
        @apply h-16 px-4 text-start text-slate-50
    }

    .table-cell {
        @apply w-fit whitespace-nowrap p-4 font-medium
    }

    .cus-btn {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        position: relative;
    }

    .cus-btn::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: #9AE3E3;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease-in-out;
    }

    .cus-btn:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .ficon:hover {
        filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg) brightness(101%) contrast(94%);
    }
}

.recharts-default-tooltip {
    @apply !rounded-lg !border !border-slate-300 !bg-white transition-colors dark:!border-slate-700 dark:!bg-slate-900;
}

.recharts-tooltip-label {
    @apply text-base font-medium text-slate-900 dark:text-slate-50;
}

.recharts-tooltip-item {
    @apply text-base font-medium !text-blue-500 dark:!text-blue-600;
}

.hero {
    background-image: url('./assets/hero_image.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    transform: rotate(0);
    transition: all 0.4s
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}